input[type='radio'], 
input[type='checkbox'] {
 position: absolute;
 clip: rect(1px, 1px, 1px, 1px);
}

input[type='radio'] + label,
input[type='checkbox'] + label {
 margin: 0;
 padding: 2px 0 0px 50px;
 cursor: pointer;
 background: url('links/ICONS-ATM/radio-off.png') left center no-repeat;
 background-size: contain;

}

input[type='radio']:checked + label { 
 background-image: url('links/ICONS-ATM/radio-on.png');
 background-size: contain;
}

.metodo {
    margin: 2%;
    width: 120%;
    text-align: left;
    
    color: black;
    text-decoration: none;
}
