<article ng-if="$ctrl.currentProject" class="detail__intro">
  <h1>{{ $ctrl.currentProject.title }}</h1>
  <img class="divider" ng-src="/assets/divider.svg" alt="">
  <p>{{ $ctrl.currentProject.subtitle }}</p>
  <a ng-if="$ctrl.currentProject.link" href="{{ $ctrl.currentProject.link }}" target="_blank">
    {{ $ctrl.currentProject.link_name }}
    <div class="hover-line"></div>
  </a>
</article>

<article ng-if="$ctrl.currentProject" class="detail__content">
  <img ng-if="$ctrl.currentProject.slug != 'nike-for-rio'" ng-src="{{ $ctrl.currentProject.images.cover }}" alt="cover image">
  <video ng-if="$ctrl.currentProject.slug == 'samsung'" src="{{ $ctrl.currentProject.videos.video_1 }}" controls poster="{{ $ctrl.currentProject.images.cover }}"></video>
  <video ng-if="$ctrl.currentProject.slug == 'nike-for-rio'" src="{{ $ctrl.currentProject.videos.video_1 }}" controls poster="{{ $ctrl.currentProject.images.cover }}"></video>
  <div class="detail__item--text">
    <h3>{{ $ctrl.currentProject.concept }}</h3>
    <p>{{ $ctrl.currentProject.concept_description }}</p>
  </div>
  <video ng-if="$ctrl.currentProject.slug == 'osteria-francescana'" src="{{ $ctrl.currentProject.videos.video_1 }}" controls poster="{{ $ctrl.currentProject.images.thumb }}"></video>
  <img ng-src="{{ $ctrl.currentProject.images.photo_1 }}" ng-class="{ autoWidth: $ctrl.currentProject.slug == 'nike-for-rio' }" alt="">
  <img ng-if="$ctrl.currentProject.slug != 'osteria-francescana'" ng-src="{{ $ctrl.currentProject.images.photo_2 }}" alt="">
  <div class="detail__item--text">
    <p>{{ $ctrl.currentProject.description }}</p>
  </div>
  <video ng-if="$ctrl.currentProject.slug == 'osteria-francescana'" src="{{ $ctrl.currentProject.videos.video_2 }}" controls poster="{{ $ctrl.currentProject.images.thumb }}"></video>
  <img ng-src="{{ $ctrl.currentProject.images.photo_3 }}" alt="">
  <!--<img ng-src="{{ $ctrl.currentProject.images.photo_3 }}" alt="">-->
  <div class="detail__item--text">
    <!--<p>{{ $ctrl.currentProject.description_1 }}</p>-->
    <p>{{ $ctrl.currentProject.description_2 }}</p>
  </div>
  <img ng-src="{{ $ctrl.currentProject.images.photo_4 }}" alt="">
  <div class="detail__item--text">
    <p>{{ $ctrl.currentProject.description_3 }}</p>
  </div>
  <img ng-if="$ctrl.currentProject.slug == 'rayban-us'" ng-src="{{ $ctrl.currentProject.images.gif }}" alt="" class="gif">
</article>

<article ng-if="$ctrl.currentProject" class="detail__nav">
  <div class="detail__nav--btn detail__nav--btn--prev" ng-click="$ctrl.prev()">
    <span>Prev</span>
    <p>{{ $ctrl.prevProjectTitle}}</p>
    <div class="detail__btn--overlay"></div>
  </div>
  <div class="detail__nav--btn detail__nav--btn--next" ng-click="$ctrl.next(item)">
    <span>Next</span>
    <p>{{ $ctrl.nextProjectTitle}}</p>
    <div class="detail__btn--overlay"></div>
  </div>
</article>
