/****** Default Style 320px **********/

*{
    
    text-align: center;
    
    font-family: 'Museo Sans', sans-serif;
    
    
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: auto;
}

.wrapper {
    min-width: 320px;
    margin: auto;
    text-align: center;
    
    background-color: white;
}

.sorry {
    width: 150px;
    margin-top: 8%;
}



/* RADIO STYLE */

input[type='radio'], 
input[type='checkbox'] {
 position: absolute;
 clip: rect(1px, 1px, 1px, 1px);
}

input[type='radio'] + label,
input[type='checkbox'] + label {
 margin: 0;
 padding: 2px 0 0px 50px;
 cursor: pointer;
 background: url('links/ICONS-ATM/radio-off.png') left center no-repeat;
 background-size: contain;

}

input[type='radio']:checked + label { 
 background-image: url('links/ICONS-ATM/radio-on.png');
 background-size: contain;
}





/********** MOBILE HEADER **********/


header {
    width: 100%;
    text-align: center;
    margin: auto;
}

.logo {
    width: 120px;
    margin: 5%;
}

.logo-grey {
    width: 120px;
    
    margin: 5%;
}

.white {
    display: none;
}

nav {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 17%;
}

ul {
    width: 100%;
    height: 45%;
    text-align: left;
    padding: 0 9px;
    padding-right: 0;
    
    margin: 4px auto;
    
    background-image: url(../links/IMG-ATM/IMG-bannerDesktop.jpg);
    background-size: 250%;
    
}

li {
    display: inline-block;
    vertical-align: bottom;
    padding: 3%;
    padding-right: 0;
    padding-left: 8%;
}


.icon-menu {
    display: block;
    width: 35px;
}


.first {
    padding-left: 3%;
}

.last {
    float: right;
    padding: 3.2%;
    padding-right: 4%;
    padding-left: 4%;
    
    background-color: rgba(255,165,0,0.8);
}

h6 {
    margin: 0;
    margin-top: 6px;
    
    color: white;
    font-weight: 100;
}

span {
    display: none;
}






/********* HOME MOBILE main content *********/

article {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.button {
    display: block;
    margin: 11% auto;
    
    width: 90%;
    height: 80px;
    
    background-color: orange;
    border: 2px solid orange;
    color: white;
    
    text-decoration: none;
    
    
    line-height: 50px;
    
}

.button p em {
        font-style: normal;
    }

.shortcut {
    background-color: white;
    border: 2px solid orange;
    color: orange;
    
}

.newsbar {
    
        display: none;
        width: 45%;
        margin-bottom: 5%;
    }

footer {
        display: none;
        max-width: 1024px;
        background-color: lightgrey;
        text-align: center;
        margin: auto;
    }








/********* TICKET MOBILE main content *********/



article {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.button .green .ticket {
    display: block;
    margin: 11% auto;
    
    width: 90%;
    height: 80px;
    
    background-color: orange;
    border: 2px solid orange;
    color: white;
    
    line-height: 90px;
    
}

.green {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    max-width: 300px;
    max-height: 70px;
    
    margin: 0 auto;
    
    background-color: limegreen;
    border: 2px solid limegreen;
}






/********** footer **********/

footer {
        display: none;
        max-width: 1024px;
        background-color: lightgrey;
        text-align: center;
        margin: auto;
    }






/************ Ticket page additional stuff **************/

.quantity {
    width: 230px;
    
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    
}


.symbol {
    width: 80px;
}

h2 {
    
    font-size: 2em;
}

.alert {
    margin: 0 auto;
    margin-bottom: 0;
    padding: 0;
    
    color: darkgray;
    font-size: 13px;
    font-weight: 100;
    
    
}

.attention {
    width: 23px;
    margin-right: 3px;
    vertical-align: bottom;
}

a {
    color: orange;
    font-weight: 500;
}

h4 {
    margin: 0 auto;
    padding: 40px;
    
    font-size: 2em;
    font-weight: 500;
}



/******** MOBILE Payment page main content ************/

#methods {
    display: inline-block;
    
    width: 90%;
    margin: 5% auto;
    margin-bottom: 20%;
}

form {
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: flex-start;
}


.method {
    margin: 2%;
    width: 120%;
    text-align: left;
    
    color: black;
    text-decoration: none;
    
}


.label {
    display: inline;
    padding-left: 10px;
    font-size: 1.3em;
}



#empty-form {
    display: inline-block;
    
    width: 90%;
    margin: 5% auto;
    margin-left: 7%;
}

#resume {
    display: inline-block;
    padding: 4% 2%;
    
    
    width: 300px;
    margin: 5% auto;
    margin-right: 1px;
    
    outline: 1px solid darkgrey;
    
}

.title-resume {
    width: 70%;
    
    margin: 6% auto;
}

h3 {
    display: inline-block;
    
    margin: 0;
    padding: 0;
    padding-right: 15px;
    
    font-size: 45px;
    font-weight: 300;
}

.label-resume {
    display: inline-block;
    
    text-align: left;
    font-size: 20px;
    
}

.credit {
    margin-bottom: 2%;
}

.pay {
    text-align: left;
    display: block;
    
    width: 100%;
    padding-left: 0;
    padding-bottom: 2%;
    
    border-bottom: 1px solid darkgray;
    font-size: 18px;
}

.rule {
    width: 90%
}

.price {
    margin-top: 4%;
    
    font-weight: 400;
}

.payment {
    margin-top: 5%;
    
    background-color: white;
    color: forestgreen;
    font-size: 1.5em;
}

.container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.fill {
    width: 100%;
    text-align: left;
}

.date {
    max-width: 40%;
    display: inline;
}

.link {
    width: 100%;
    
    color: black;
    text-decoration: none;
    text-align: left;
}

.link-credit {
    
    width: 100%;
    text-align: left;
    
    color: black;
    
    overflow: hidden;
    
    
}

.step {
    background-color: limegreen;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

input {
    border: 1px solid darkorange;
}

.mastercard {
    float: right;
    width: 10%;
}

.visa {
    float: right;
    width: 17%;
    
    margin-right: 4%;
}

.cvv {
    width: 20%;
    text-align: left;
}

.info-icon {
    float: right;
    width: 6%;
}




/******** MOBILE Ticket Ready main content ************/

.fake-ticket {
    width: 80%;
    margin: 9% auto;
    padding: 3%;
    
    outline: 1px solid darkgrey;
    overflow: hidden;
}

.left {
    width: 49%;
    display: inline-block;
    
    vertical-align: top;
    overflow: hidden;
}

.logo-fake {
    display: block;
    width: 40%;
    
    
    margin: 5%;
    margin-bottom: 9%;
}

.qr {
    display: block;
    
    margin: 5%;
    width: 60%;
}


.itinero {
    width: 35%;
    display: block;
    
    float: right;
    margin: 5% auto;
    margin-bottom: 9%;
   
}

.rules-fake {
   margin-top: 30%;
}

h5 {
    font-size: 1em;
}

.description-fake {
    font-weight: 200;
    font-size: 0.7em;
}


.choice {
    width: 85%;
    margin: auto;

}

.use {
    display: block;
    
    width: 100%;
    padding: 2% 0;
    margin-bottom: 5%;
    text-decoration: none;
    display: table;
    
    background-color: darkorange;
    color: white;
}

.later {
    background-color: white;
    color: darkorange;
    
    border: 2px solid darkorange;
}

.notifica {
    width: 40px;
}






/*************** MOBILE VALIDATION ************/

.tap {
    display: inline-block;
    
    width: 70%;
    margin: 8% auto;
    text-align: center;
}

.tap-symbol {
    width: 100%;
}

.countdown {
    display: inline-block;
    
    width: 70%;
    margin: 10% auto;
    text-align: center;
}

.countdown-symbol {
    padding-top: 4%;
    width: 100%;
}

.minutes {
    margin: 0;
    padding: 0;
    
    font-size: 3em;
}

.explanation-minutes {
    margin: 0;
    margin-top: 2%;
    padding: 0;
    
    
    font-size: 1.5em;
}

.explanation-usage {
    font-size: 0.9em;
    font-weight: 100;
}


.ok {
    
    border: 2px solid darkorange;
    
    background-color: white;
    color: darkorange;
    
    font-weight: 100;
    font-size: 1.2em;
    
}



/************** MOBILE TRAVEL LOGIN ************/

.login {
    width: 75%;
    margin: 9% auto;
    margin-bottom: 3%;
    text-align: left;
}

.user {
    display: block;
    margin-bottom: 2%;
    padding: 2%;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: left;
    
    border-bottom: 1px solid darkgrey;
}

.icon-login {
    width: 7%;
    vertical-align: bottom;
    text-align: left;

}

.user-name {
    padding-left: 10%;
}

.forgot {
    width: 75%;
    text-align: left;
    
    display: block;
    margin-bottom: 6%;
}

.enter {
    background-color: darkorange;
    
    border: 2px solid orange;
    
}

.travel-name {
    padding-left: 0;
}

.travel-date {
    width: 70%;
    margin-left: 4%;
}

.travel-day {
    width: 30%;
}

.travel-button {
    margin-top: 8%;
}



.contract {
    width: 300px;
    display: inline-block;
    margin: 7% auto;
    margin-bottom: 3%;
    padding: 5%;
    
    vertical-align: top;
    background-color: white;
    border: 2.5px solid orange;
    
    color: darkorange;
}

.old {
    background-color: darkorange;
    color: darkorange;
}

.contract-old {
    padding: 3%;
    
    color: white;
    
}

.contract-description {
    width: 300px;
    height: 10px;
    margin: 0 auto;
    padding: 0; 
    
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
    
    background-color: rgba(245, 245, 245, 1);
    
    transition: height .5s ease 2s;
}


.contract-description:hover {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    padding: 0; 
    
    background-color: rgba(245, 245, 245, 1);
    
    transition: height .5s ease .5s;
}

.contract-container {
    opacity: 0;
    height: 100px;
    
    padding: 1.5%;
    
    transition: opacity .5s ease 2s;
}


.contract-container:hover {
    opacity: 1;
    padding: 1.5%;
    
    transition: opacity .5s ease .5s;
}


.contract-p {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    
    color: rgba(125, 125, 125, 1);
    
}

.icon-feedback {
    
    margin-top: 8%;
}

.card-feedback {
    display: block;
    margin-top: 5%;
}

.label-position {
    display: block;

    color: darkorange;
}

.card-position {
    vertical-align: middle;
    padding: 2%;
    padding-right: 2%;
    padding-left: 0;
}



/********* 1024px ***********/

@media (min-width: 700px) {
    
    .wrapper {
        max-width: 1024px;
        background-color: white;
    }
    

    
    
/********** HEADER **********/
    
    header {
        width: 80%;
    }
    
    .home .logo {
        display: none;
        width: 120px;
        margin-bottom: 1%;
    }
    
    .home .white {
        display: inline;
    }
    
    nav {
        margin-bottom: 9%;
    }
    
    ul {
        background-image: url(../links/IMG-ATM/IMG-bannerDesktop.jpg);
        background-size: 120%;
    }
    
    /* change in homepage */
    .home ul {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    li {
        vertical-align: bottom;
        padding: 2%;
        padding-right: 4%;
        padding-left: 4%;
        
        border-bottom: 3px solid transparent;
    }
    
    li:hover {
        border-bottom: 3px solid darkorange;
        
    }
    
    .menu {
        margin: 0;
        margin-top: 2%;

        color: white;
        font-size: 14px;
        line-height: 25px;
        font-weight: 200;
    }
    
    span {
        display: inline;
    }
    
    .icon-menu {
        display: none;
        width: 35px;
    }
    
    .last {
        
        padding: 2%;
        padding-right: 4.8%;
        padding-left: 4.8%;

        background-color: rgba(255,165,0,0.8);
    }
    
    .last:hover {
        border-bottom: 3px solid white;
    }
    

    
    
    
    
    
/********* HOME 1024px ***********/


    
    .home .wrapper {
        max-width: 1024px;
        background-image: url(../links/IMG-ATM/IMG-main.jpg);
        background-size: 1024px;
        background-repeat: no-repeat;
    }
    

    
    
    
/************** DESKTOP HOME main content ***********/

    
    article {
        width: 80%;
        margin: 5% auto;
    }
    
    .button {
        
        display: inline-block;
        margin-top: 2%;
        vertical-align: top;
        width: 30.7%;
        height: 120px;

        background-color: rgba(0,0,0,0.3);
        border: 3.5px solid white;
        color: white;
        font-family: sans-serif, Museo Sans;
        font-size: 14px;

        text-decoration: none;
       /* line-height: 120px; */
        
        transition: background 0.2s linear 0.2s;
        transition: text 0.2s linear 0.2s;

    }
    
    .button:hover {
        background-color: rgba(255,165,0,0.8);
        
        
    }
    .button p {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        
        height: 100%;
        margin: 0;
        padding: 0;
        color: white;
        line-height: 1.2em;
    }
    
    .button p em {
        display: block;
        font-style: normal;
    }
    
    .shortcut {
        float: left;
        margin-right: 4.5%;
        
        background-color: rgba(255,255,255,0.3);
        border: 3.5px solid white;
    }
    
    .card {
         float: right;
    }
    
    .bar{
        margin-bottom: 0;
    }
    
    .newsbar {
        display: inline;
        width: 45%;
        margin-bottom: 5%;
    }
    
    
    /************** DESKTOP HOME footer ***********/
    
    footer {
        display: block;
        max-width: 1024px;
        background-color: lightgrey;
        text-align: center;
        margin: auto;
    }
    
    .footer-text {
        width: 60%;
        margin: auto;
    }
    
    p {
        display: inline-block;
        padding: 5% 10%;
        
        color: darkgrey;
        font-family: sans-serif, Museo Sans;
    }
    
    .end {
        width: 80%;
        background-color: black;
        margin: auto;
        height: 40px;
        border-bottom: 3px solid darkorange;
    }
    
    h6 {
        color: white;
        line-height: 40px;
        font-weight: 100;
    }

    
    
    
/********** DESKTOP TICKET main content **********/    

    
    .green {
        width: 300px;
        height: 70px;
        margin-bottom: 5%;
        
        line-height: 70px;
        
        background-color: limegreen;
        border: 2px solid limegreen;
    }
    
    .green:hover {
        background-color: forestgreen;
    }

    
     .alert {
        font-size: 16px;
    }
    
    
    p {
        display: inline-block;
        padding: 5% 10%;
        
        color: darkgrey;
        font-family: 'Museo Sans', sans-serif;
    }
    
    
    

    
   
    
/*********** DESKTOP PAYMENT main content **********/
    
    .pay-article {
        height: 400px;
    }
    
    #methods {
        float: left;
        width: 25%;
        margin-right: 2%;
        
        vertical-align: top;
        
    }
    
    #empty-form {
        display: inline-block;
        margin-right: 7%;
        margin-left: 0;
        width: 35%;
        
        vertical-align: top;
    
    }
    
    .label {
        font-size: 1em;
    }
    
    .fill {
        width: 100%;
    }
    
    #resume {
        float: right;
        width: 26%;
        padding-bottom: 2%;
        
        vertical-align: top;
    }
    
    

    .title-resume {
        width: 70%;

        margin: auto;
    }

    h3 {
        display: inline-block;

        margin: 0;
        padding: 0;
        padding-right: 5px;

        font-size: 35px;
        font-weight: 300;
    }

    .label-resume {
        display: inline-block;

        text-align: left;
        font-size: 13px;

    }

    .pay {
        padding-left: 0;

        font-size: 14px;
    }

    .rule {
        width: 90%
    }

    .price {
        margin-top: 4%;

        font-weight: 400;
        font-size: 2em;
    }
    
    .payment {
        width: 90%;
        margin: 7% auto;
        
        background-color: white;
        color: forestgreen;
    }
    
    .payment:hover {
        color: white;
    }
    
    
    
/******** DESKTOP Ticket Ready main content ************/

#fake {
    display: inline-block;

}
    
.fake-ticket {
    float: left;
    width: 40%;
    margin: 8% auto;
    margin-left: 1px;
    padding: 3%;
    
    outline: 1px solid darkgrey;
    overflow: hidden;
}

.left {
    width: 40%;
    display: inline-block;
    
    vertical-align: top;
    overflow: hidden;
}

.logo-fake {
    display: block;
    width: 70%;
    
    
    margin: 5%;
    margin-bottom: 25%;
}

.qr {
    display: block;
    
    margin: 5%;
    width: 90%;
}

.right {
    width: 58%;
}

.itinero {
    width: 35%;
    display: block;
    
    float: right;
    margin: 5% auto;
    margin-bottom: 9%;
   
}

.rules-fake {
   margin-top: 30%;
}

h5 {
    width: 100%;
    font-size: 1em;
}

.description-fake {
    width: 100%;
    font-weight: 200;
    font-size: 0.7em;
}


.use {
    float: right;
    width: 45%;
    
    border: 3px solid darkorange;
    background-color: darkorange;
    color: white;
    
    margin: 3.1% auto;
    
}

.up {
    margin-top: 6.1%;
}    

.later {
    
    border: 3px solid darkorange;
    background-color: white;
    
    color: darkorange;
    
}
    
.action {
    color: white;
}
    
.later .action {
    color: darkorange;
}
    
    
    
    
    
/*************** DESKTOP VALIDATION ************/

    article {
        overflow: hidden;
    }
    
    
.tap {
    float: left;
    
    width: 40%;
    margin: 8% auto;
    text-align: center;
}

.tap-symbol {
    width: 100%;
}
    
    
.countdown {
    float: right;
    
    width: 40%;
    margin: 8% auto;
    text-align: center;
}
    

    .ok {
        border: 2px solid darkorange;
        
        color: darkorange;
        font-size: 1.2em;
        font-weight: 100;
    }
    
    .ok:hover {
        background-color: darkorange;
    }
    

    
    
    
    
    
    
    
    
/************** DESKTOP TRAVEL LOGIN ************/

.login {
    width: 75%;
    margin: 9% auto;
    margin-bottom: 3%;
    text-align: left;
}

.user {
    display: block;
    margin-bottom: 2%;
    padding: 2%;
    padding-bottom: 3%;
    padding-top: 2%;
    text-align: left;
    
    border-bottom: 1px solid darkgrey;
}

.icon-login {
    width: 7%;
    vertical-align: bottom;
    text-align: left;

}

.user-name {
    padding-left: 10%;
}

.forgot {
    width: 75%;
    text-align: left;
    
    display: block;
    margin-bottom: 6%;
}

.enter {
    background-color: white;
    color: darkorange;
    
    border: 2px solid orange;
    
}

.enter:hover {
    background-color: darkorange;
    color: white;
}
    
.travel-name {
    padding-left: 0;
}

.travel-date {
    width: 70%;
    margin-left: 4%;
}

.travel-day {
    width: 30%;
}

.travel-button {
    margin-top: 8%;
    background-color: white;
    color: darkorange;
}
    
.travel-button:hover {
    background-color: darkorange;
    color: white;
}



.contract {
    width: 300px;
    height: 100px;
    
    
    display: inline-block;
    margin: 7% auto;
    
    margin-bottom: 3%;
    padding: 5%;
    
    vertical-align: top;
    background-color: white;
    border: 2.5px solid orange;
    
    color: darkorange;
}

.old {
    background-color: darkorange;
    color: darkorange;
    
}

.contract-old {
    padding: 3%;
    
    color: white;
    
}



.icon-feedback {
    
    margin-top: 8%;
}

.card-feedback {
    display: block;
    margin-top: 5%;
}

.label-position {
    display: block;

    color: darkorange;
}

.card-position {
    vertical-align: middle;
    padding: 2%;
    padding-right: 2%;
    padding-left: 0;
}
    
    
    


    
    
    
    /********** footer **********/
    
    footer {
        display: block;
        max-width: 1024px;
        background-color: lightgrey;
        text-align: center;
        margin: auto;
    }
    
    .footer-text {
        width: 60%;
        margin: auto;
    }
    
    
    
    .end {
        width: 80%;
        background-color: black;
        margin: auto;
        height: 40px;
        border-bottom: 3px solid darkorange;
    }
    
    h6 {
        color: white;
        line-height: 40px;
        font-weight: 100;
    }
    
    
}
    
   