/****** HOME Default Style 320px **********/

*{
    box-sizing: border-box;
    text-align: center;
    
    font-family: sans-serif, Museo Sans;
}

body {
    text-align: center;
    margin: auto;
}

.wrapper {
    min-width: 320px;
    margin: auto;
    text-align: center;
    
    background-color: white;
}





/************** HEADER ***********/

header {
    width: 100%;
    text-align: center;
    margin: auto;
}

.logo {
    width: 120px;
    margin: 5%;
}

.white {
    display: none;
}


.first {
    padding-left: 3%;
}

.last {
    float: right;
    padding: 3.2%;
    padding-right: 4%;
    padding-left: 4%;
    
    background-color: rgba(255,165,0,0.8);
}

h6 {
    margin: 0;
    margin-top: 6px;
    
    color: white;
    font-weight: 100;
}








/********* HOME main content *********/

article {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.button {
    display: block;
    margin: 11% auto;
    
    width: 90%;
    height: 80px;
    
    background-color: orange;
    border: 2px solid orange;
    color: white;
    
    line-height: 50px;
    
}

.shortcut {
    background-color: white;
    border: 2px solid orange;
    color: orange;
}

.newsbar {
    
        display: none;
        width: 45%;
        margin-bottom: 5%;
    }

footer {
        display: none;
        max-width: 1024px;
        background-color: lightgrey;
        text-align: center;
        margin: auto;
    }










/********* HOME 1024px ***********/

@media (min-width: 700px) {
    
    .wrapper {
        max-width: 1024px;
        background-image: url(../links/IMG-ATM/IMG-main.jpg);
        background-size: 1024px;
        background-repeat: no-repeat;
    }
    
    
    
    
    
    
/************** HEADER ***********/
    
    
    header {
        width: 80%;
    }
    
    .logo {
        display: none;
        width: 120px;
        margin-bottom: 1%;
    }
    
    .white {
        display: inline;
    }
    
    
    .last {
        
        padding: 2%;
        padding-right: 4.8%;
        padding-left: 4.8%;

        background-color: rgba(255,165,0,0.8);
    }
    
    .last:hover {
        border-bottom: 2px solid white;
    }
    
    
    
    
    
    
    
/************** HOME DESKTOP main content ***********/

    
    article {
        width: 80%;
        margin: 5% auto;
    }
    
    
    .button {
        
        display: inline-block;
        margin-top: 2%;
        vertical-align: top;
        width: 31.5%;
        height: 120px;

        background-color: rgba(0,0,0,0.3);
        border: 3.5px solid white;
        color: white;
        font-family: sans-serif, Museo Sans;
        font-size: 14px;

        text-decoration: none;
       /* line-height: 120px; */

    }
    
    .button:hover {
        background-color: rgba(255,165,0,0.8);
    }
    .button p {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        
        height: 100%;
        margin: 0;
        padding: 0;
        color: white;
        line-height: 1.2em;
    }
    .button p em {
        display: block;
        font-style: normal;
    }
    
    .shortcut {
        float: left;
        margin-right: 4.5%;
        
        background-color: rgba(255,255,255,0.3);
        border: 3.5px solid white;
    }
    
    .bar{
        margin-bottom: 0;
    }
    
    .newsbar {
        display: inline;
        width: 45%;
        margin-bottom: 5%;
    }
    
    
    
    
    
    
    
/************** footer ***********/
    
    footer {
        display: block;
        max-width: 1024px;
        background-color: lightgrey;
        text-align: center;
        margin: auto;
    }
    
    .footer-text {
        width: 60%;
        margin: auto;
    }
    
    p {
        display: inline-block;
        padding: 5% 10%;
        
        color: darkgrey;
        font-family: sans-serif, Museo Sans;
    }
    
    .end {
        width: 80%;
        background-color: black;
        margin: auto;
        height: 40px;
        border-bottom: 3px solid darkorange;
    }
    
    h6 {
        color: white;
        line-height: 40px;
        font-weight: 100;
    }
    
}